@font-face {
  font-family: "Microsoft Sans Serif";
  src: url("/public/static/micross.ttf");
}
@import "~boxicons/css/boxicons.min.css";
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@700&display=swap");
@import "custom-element";
html {
  height: -webkit-fill-available;
  overflow: hidden;
}
body {
  padding: 0px;
  height: 100%;
  min-height: 100vh;
  min-height: -webkit-fill-available;
  width: 100%;
  font-family: "Microsoft Sans Serif", Arial, sans-serif, "微軟正黑體";
  margin: 0;
  overflow: auto;
  // padding-top: constant(safe-area-inset-top); /* iOS 11.0-iOS 11.1 */
  // padding-top: env(safe-area-inset-top); /*iOS 11.2 */
  // padding-bottom: constant(safe-area-inset-bottom); /* iOS 11.0-iOS 11.1 */
  // padding-bottom: env(safe-area-inset-bottom); /*iOS 11.2 */
}

a:link,
a:visited {
  color: #119aff;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: normal;
}

* {
  box-sizing: border-box;
}
.ql-editor {
  height: initial;
  padding: 0 !important;
  p {
    margin: 0;
  }
}

.gpt-ql-editor {
  p {
    margin: 0;
    font-size: 13px;
    line-height: 18px;
  }
}
.sub-title.gpt-ql-editor {
  color: #888;
  font-size: 12px;
}
// @media (max-width: 360px) {
//   body {
//     padding: 10px;
//   }
// }
