@import "~boxicons/css/boxicons.min.css";
@import "custom-element";
html {
  height: -webkit-fill-available;
  overflow: hidden;
}
body {
  padding: 0px;
  height: 100%;
  min-height: 100vh;
  min-height: -webkit-fill-available;
  width: 100%;
  font-family: Arial, "Noto Sans TC", "PingFang SC", sans-serif, "微軟正黑體",
    monospace, Helvetica;
  margin: 0;
  overflow: auto;
  // padding-top: constant(safe-area-inset-top); /* iOS 11.0-iOS 11.1 */
  // padding-top: env(safe-area-inset-top); /*iOS 11.2 */
  // padding-bottom: constant(safe-area-inset-bottom); /* iOS 11.0-iOS 11.1 */
  // padding-bottom: env(safe-area-inset-bottom); /*iOS 11.2 */
}

a:link,
a:visited {
  color: #119aff;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: normal;
}

* {
  box-sizing: border-box;
}
.ql-editor {
  height: initial;
  padding: 0 !important;
}

// @media (max-width: 360px) {
//   body {
//     padding: 10px;
//   }
// }
