@import "custom-element";
html {
  height: -webkit-fill-available;
  overflow: hidden;
}
body {
  min-height: 100vh;
  min-height: -webkit-fill-available;
  width: 100%;
  font-family: Arial, "Noto Sans TC", "PingFang SC", sans-serif, "微軟正黑體",
    monospace, Helvetica;
  margin: 0;
  background: #fff;
  overflow: auto;
  // padding-top: constant(safe-area-inset-top); /* iOS 11.0-iOS 11.1 */
  // padding-top: env(safe-area-inset-top); /*iOS 11.2 */
  // padding-bottom: constant(safe-area-inset-bottom); /* iOS 11.0-iOS 11.1 */
  // padding-bottom: env(safe-area-inset-bottom); /*iOS 11.2 */
}

a:link,
a:visited {
  color: #119aff;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: normal;
}

* {
  box-sizing: border-box;
}
.ql-editor {
  height: initial;
  padding: 0 !important;
}
// .wrap {
//   // border: 1px solid green;
//   width: 100%;
//   height: 100vh;
//   max-height: -webkit-fill-available;
//   display: flex;
//   flex-direction: column;
//   background: white;
//   overflow: hidden;
// }

// .container {
//   // border: 1px solid red;
//   box-sizing: border-box;
//   width: 100%;
//   height: 100%;
//   overflow-y: auto;
//   @include scrollbar;
//   .content {
//     // overflow-y: auto;
//     background: white;
//     // border: 1px dashed red;
//   }
//   .footer {
//     width: 100%;
//     background: white;
//     // box-shadow: 0 -3px 4px 0 rgba(189, 189, 189, 0.2);
//     // position: fixed;
//     bottom: 0;
//     left: 0;
//     .footer-content {
//       border: none;
//       width: 100%;
//       display: flex;
//       align-items: center;
//       flex-direction: column;
//       justify-content: center;

//       .el-button {
//         width: 320px;
//         padding: 15px 0;
//       }
//       .button {
//         cursor: pointer;
//         padding: 8px 15px;
//         background: $primary;
//         color: white;
//         border-radius: 3px;
//       }
//       p {
//         text-align: center;
//         width: 100%;
//         margin-bottom: 8px;
//         font-size: 12px;
//       }
//     }
//   }
// }

.safari-container-adjust {
  overflow-y: auto;
}

// style of the notification itself
.my-notification {
  // style for title line
  // styling
  box-sizing: border-box;
  margin: 10px;
  padding: 10px;
  font-size: 12px;
  color: #ffffff;
  border-radius: 5px;

  // default (blue)
  background: #44a4fc;
  border-left: 5px solid #187fe7;
  .notification-title {
    font-size: 16px;
    font-weight: normal;
  }

  // style for content
  .notification-content {
    font-size: 14px;
  }

  // additional styling hook when using`type` parameter, i.e. this.$notify({ type: 'success', message: 'Yay!' })
  &.success {
    background: #68cd86;
    border-left-color: #42a85f;
  }

  &.warn {
    background: #ffb648;
    border-left-color: #f48a06;
  }

  &.error {
    background: $danger;
    border-left-color: #c24239;
  }
}

// rtl
.rtl {
  .el-message-box {
    .el-button + .el-button {
      margin-right: 10px;
      margin-left: 0;
    }
    .el-message-box__header {
      .el-message-box__title {
        text-align: right;
      }
      .el-message-box__headerbtn {
        left: 15px !important;
      }
    }
    .el-message-box__content {
      .el-message-box__container {
        .el-message-box__status {
          right: 0;
        }
        .el-message-box__message {
          text-align: right;
          padding-left: 12px;
          padding-right: 36px;
        }
      }
    }
    &::v-deep .el-message-box__status + .el-message-box__message {
      border: 1px solid red;
    }
  }
}

// @media (max-width: 1000px) {
//   .process-container {
//     padding-left: constant(safe-area-inset-left);
//     padding-left: env(safe-area-inset-left);
//     padding-right: constant(safe-area-inset-right);
//     padding-right: env(safe-area-inset-right);
//     padding-top: constant(safe-area-inset-top);
//     padding-top: env(safe-area-inset-top);
//     padding-bottom: constant(safe-area-inset-bottom);
//     padding-bottom: env(safe-area-inset-bottom);
//     padding-bottom: 80px;
//     .footer {
//       position: fixed;
//       bottom: 0;
//       padding-left: constant(safe-area-inset-left);
//       padding-left: env(safe-area-inset-left);
//       padding-right: constant(safe-area-inset-right);
//       padding-right: env(safe-area-inset-right);
//       .footer-content {
//         border: none;
//         width: 100%;
//         display: flex;
//         align-items: center;
//         flex-direction: column;
//         justify-content: center;
//         padding: 15px 20px;
//         .el-button {
//           width: 180px;
//         }
//       }
//     }
//   }
// }
